<% layout("/layouts/boilerplate.ejs") -%>

<div class="row">
    <div class="col-xs-10 offset-xs-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h1>Login on Wanderlust</h1>
        <form method="POST" action="/login" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" required>
                <div class="invalid-feedback">Enter username</div>
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
                <div class="invalid-feedback">required!</div>
              </div>
              <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>
